<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-header *ngIf="shouldShowHeader()"></app-header>
        </div>
        <div class="col-md-10">
            <div class="page">
                <div class="page-wrapper">

                    <!-- Page body -->
                    <div class="page-body">

                        <div class="page-header d-print-none">
                            <div class="container">
                                <div class="row g-3 align-items-center">
                                    <div class="col">
                                        <h2 class="page-title">
                                            CONSULTAS
                                        </h2>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- =================CONSULTAS================= -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="list-group card-list-group">

                                        <div class="list-group-item">
                                            <div class="row g-2 align-items-center">
                                                <div class="col">
                                                    CONSULTA GENÊRICA XYZ - hoje, 16:30
                                                    <div class="text-muted">
                                                        Médico: Dr. Rodrigues Pereira<br>
                                                        Interprete: Consulta sem interprete presente

                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="info" class="link-secondary">
                                                        <button class="switch-icon" data-bs-toggle="switch-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="icon icon-tabler icon-tabler-login" width="24"
                                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                                stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                                </path>
                                                                <path
                                                                    d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2">
                                                                </path>
                                                                <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                                            </svg>
                                                            
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item">
                                            <div class="row g-2 align-items-center">
                                                <div class="col">
                                                    CONSULTA GENÊRICA XYZ - ontem, 18:15
                                                    <div class="text-muted">
                                                        Médico: Dr. Rodrigues Pereira<br>
                                                        Interprete: Consulta sem interprete presente

                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="info" class="link-secondary">
                                                        <button class="switch-icon" data-bs-toggle="switch-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-hexagon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                                                                <path d="M12 16v.01"></path>
                                                                <path d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"></path>
                                                             </svg>
                                                            
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- =================CONSULTAS================= -->



                    </div>
                    <!-- Page body -->
                </div>
            </div>
        </div>
    </div>
</div>