<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img class="logo" src="../../../assets/img/logo.png" alt="telemed logo"></span>
        <span class="example-spacer"></span>
        <li class="li1"><a id="a1" routerLink="cadastro">Cadastre-se</a></li>
        <li class="li2"><a id="a2" routerLink="login">Login</a></li>
        <mat-icon class="example-icon" aria-hidden="false"
            aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<section class="section1">
    <h3 id="titulo">QUEM SOMOS</h3>
</section>