.mat-toolbar.mat-primary {
    background: #1F1F1F;
    color: #fff;
}

.example-spacer {
    flex: 1 1 auto;
}

.li1,
.li2 {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    margin-right: 20px;
    border-radius: 4px;
}

#a1,
#a2 {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.li1:hover,
.li2:hover {
    background-color: #464646;
    text-shadow: 0 0 0.2em rgb(192, 192, 192);
}

.logo {
    margin-top: 8px;
    height: 60px;
}

.section1 {
    background-color: #F4F4F4;
    text-align: center;
}

#titulo {
    padding-top: 50px;
}