<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-header *ngIf="shouldShowHeader()"></app-header>
        </div>
        <div class="col-md-10">
            <div class="page">
                <div class="page-wrapper">

                    <!-- Page body -->
                    <div class="page-body">

                        <div class="page-header d-print-none">
                            <div class="container">
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <span class="status-indicator status-green status-indicator-animated">
                                            <span class="status-indicator-circle"></span>
                                            <span class="status-indicator-circle"></span>
                                            <span class="status-indicator-circle"></span>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <h2 class="page-title">
                                            CONSULTA GENÊRICA XYZ
                                        </h2>
                                        <div class="text-muted">
                                            <ul class="list-inline list-inline-dots mb-0">
                                                <li class="list-inline-item"><span class="text-green">Up</span></li>
                                                <li class="list-inline-item">Dr. Rodrigues Pereira</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="col-lg-4">
                            <div class="card">
                              <div class="empty">
                                <div class="empty-img"><img src="../../../assets/img/video.svg" height="128" alt="">
                                </div>
                                <p class="empty-title">Consulta por vídeo</p>
                                <p class="empty-subtitle text-muted">
                                  Clique no botão abaixo para acessar a consulta
                                </p>
                                <div class="empty-action">
                                  <a href="chamada" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-zoom" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M17.011 9.385v5.128l3.989 3.487v-12z"></path>
                                        <path d="M3.887 6h10.08c1.468 0 3.033 1.203 3.033 2.803v8.196a.991 .991 0 0 1 -.975 1h-10.373c-1.667 0 -2.652 -1.5 -2.652 -3l.01 -8a.882 .882 0 0 1 .208 -.71a.841 .841 0 0 1 .67 -.287z"></path>
                                     </svg>
                                   Entrar na consulta
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>



                    </div>
                    <!-- Page body -->
                </div>
            </div>
        </div>
    </div>
</div>